[Unit]
Description = (github/BillPlayzToday/SurveillancePi) Master Service
After = syslog.target network.target

[Service]
User = root
WorkingDirectory = /home/pi/SurveillancePi/survpi-master
Environment = "PATH=/home/pi/SurveillancePi/survpi-master/.env/bin"
ExecStart = /home/pi/SurveillancePi/survpi-master/.env/bin/python3.9 /home/pi/SurveillancePi/survpi-master/main.py
Restart = always
RestartSec = 2

[Install]
WantedBy = multi-user.target