html,body {
    margin: 0px;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(255, 255, 255);
    border: none;
    transition: background-color 200ms;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

button:hover {
    background-color: rgb(195, 195, 195);
}

.topbar-placeholder {
    position: relative;
    width: 100vw;
    height: 50px;
}

.topbar-item {
    position: relative;
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a.topbar-item:hover {
    color: rgb(255, 72, 72);
    text-decoration: underline;
    cursor: pointer;
}

.card {
    position: relative;
    height: 300px;
    width: 250px;
    margin: 10px;
    display: inline-block;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    transition: background-color 250ms;
}

.card:hover {
    background-color: rgb(40, 40, 40);
}

.camera-card-thumbnail-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.camera-card-thumbnail-container img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
}

.camera-card-name,.camera-card-host,.camera-card-time {
    position: absolute;
    left: 2%;
    width: 96%;
    height: 10%;
}

.camera-card-name {
    top: 52%;
}

.camera-card-host {
    top: 64%;
}

.camera-card-time {
    top: 76%;
}

#topbar {
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: rgb(10, 10, 10);
}

#topbar #topbar-title {
    color: rgb(52, 52, 52);
}

#topbar-refreshtime {
    position: absolute;
    top: 50%;
    right: 0px;
    text-align: right;
}

#camera-cards {
    position: absolute;
    top: 55px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 60px);
}

#save-from-container,#save-until-container {
    position: absolute;
    left: 5%;
    height: 50px;
    width: 400px;
    color: rgb(255, 255, 255);
}

#save-from-container {
    top: 10%;
}

#save-until-container {
    top: calc(15% + 50px);
}

#save-submit {
    position: absolute;
    top: calc(25% + 50px);
    left: 5%;
    height: 20px;
    width: 100px;
}

#response-list {
    position: absolute;
    top: calc(5% + 50px);
    left: 2%;
    width: 77%;
}

#response-controls {
    position: absolute;
    top: calc(5% + 50px);
    right: 2%;
    width: 17%;
}

#response-controls button {
    display: block;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 50%;
    transform: translateX(-50%);
}