[Unit]
Description = (github/BillPlayzToday/SurveillancePi) Camera Service
After = syslog.target network.target

[Service]
User = root
WorkingDirectory = /home/pi/SurveillancePi/survpi-camera
Environment = "PATH=/home/pi/SurveillancePi/survpi-camera/.env/bin"
ExecStart = /home/pi/SurveillancePi/survpi-camera/.env/bin/python3.9 -u /home/pi/SurveillancePi/survpi-camera/main.py
Restart = always
RestartSec = 2

[Install]
WantedBy = multi-user.target